# Local environment file — fill in real values and DO NOT commit this file.
# Add `.env` to backend/.gitignore if it isn't already there.

PORT=5000
NODE_ENV=development

#kana wakusisa makeys remove the single qoutes
# Paste your rotated Supabase connection string here
DATABASE_URL=postgresql://postgres.ibhveblmpsnrumwsfoit:Mautsa2006%40%3F@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres 
JWT_SECRET=8EJLkQhvykqbLEXABDyYOyJKsijUWpKhPyfOldGEuws=
